* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #be3144;
  --secondary-color: #2c2d30;
  --tertiary-color: #f0f0f0;
  --quarternary-color: #45567d;
}

main {
  width: 100%;
}

.section {
  width: 100%;
  min-height: calc(100vh - 76px);

  &:nth-child(2n - 1) {
    background-color: var(--secondary-color);
  }

  &:nth-child(2n) {
    background-color: var(--quarternary-color);
  }
}

.section-heading {
  color: var(--tertiary-color);
  padding-top: 5rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 5vh;
  text-decoration: underline;
}

// Navabar

header {
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: var(--primary-color);
}

@media (width < 725px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }
}

.logo {
  padding: 10px 10px;
  border: 3px solid var(--tertiary-color);
  color: var(--tertiary-color);
  font-weight: 700;
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navlink > a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: 600;

  &:hover {
    color: var(--secondary-color);
  }
}

// Intro

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 5vh;
}

.self-image {
  width: 200px;
  margin: 5rem 0;
}

.role {
  font-style: italic;
  color: var(--primary-color);
}

// Projects
.projects-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 2rem;
}

.project {
  background-color: var(--secondary-color);
  border: 10px solid var(--secondary-color);
  border-radius: 7px;

  .brackets {
    color: orange;
    visibility: hidden;
  }

  &:hover .brackets {
    visibility: visible;
  }
}

.project-name {
  color: var(--tertiary-color);
  text-align: center;
  margin-top: 10px;
  font-size: larger;
}

.project-image {
  width: 320px;
  height: 360px;
  border-radius: 7px;
}

@media (width < 400px) {
  .project-image {
    width: 250px;
  }
}
